<?xml version='1.0' encoding='utf-8'?>
<widget id="com.indie.miami" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>INDIE MIAMI</name>
    <description>Top-down shooter tactile</description>
    <author email="dev@indiemiami.com" href="https://example.com">INDIE MIAMI</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="BackgroundColor" value="0xff000000" />
    </platform>
</widget>